@font-face {
    font-family: "CursorGothic";
    src: url(../fonts/CursorGothic_Regular-s.p.a361088d.woff2) format(woff2);
}

:root{
    --theme-black: #14120b;
    --theme-white: #edecec;
    --theme-white-opacity: #edecec33;
    --theme-accent: #f54e00;
    --theme-card-bg: #1b1913;
    -theme-card-bg-2: #201e18;
    --btn-bg: #1b1913;
    --font-cursor-gothic: "CursorGothic",system-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--theme-black);
    color: var(--theme-white);
    font-family: var(--font-cursor-gothic);
}

a{
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}

a:focus{
    outline: none;
}

ul{
    list-style: none;
}

h1{
    font-size: 1.625rem;
    text-wrap: balance;
    font-weight: 400;
    letter-spacing: -.0125em;
    line-height: 1.25;
    margin-bottom: calc(1rem*1.4);
}

img{
    width: 100%;
    object-fit: contain;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
}

.navbar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding: .7em 0;
}

.navbar .logo{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.navbar .logo svg{
    width: 95.75px;
}

.navbar .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: -1;
}
.navbar .nav-link{
    font-size: .875rem;
    padding-inline: calc(calc(10rem/16)*1.5);
    padding-block: calc(1rem*1.4*3/12);
    border: 1px solid #0000;
}

.navbar .nav-link:hover{
    color: rgba(237, 236, 236, 0.75);
}

.navbar .nav-btns{
    gap: 10px;
}

.btn-outline{
    padding: .4em .75em .42em;
    font-size: .875rem;
    border: 1px solid var(--theme-white-opacity);
    border-radius: 20px;
    line-height: 1;
}

.btn-outline:hover{
    background-color: var(--theme-card-bg);
}

.btn-white{
    padding: .4em .75em .42em;
    font-size: .875rem;
    background: var(--theme-white);
    color: var(--theme-black);
    border-radius: 20px;
    line-height: 1;
}

.btn-white:hover{
    background-color: #d7d6d5;
}

.btn-white-with-icon{
    background-color: var(--theme-white);
    color: var(--theme-black);
    border: 1px solid var(--theme-white);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 3.40282e38px;
    display: inline-flex;
    line-height: 1;
    padding: .78em 1.35em .8em;
}

.btn-white-with-icon span{
    background-color: transparent;
    color: var(--theme-black);
    padding-inline-start: .25em;
    display: inline-flex;
}

main{
    margin-block-start: 50px;
}

.section{
    padding: calc(1rem*1.4*3) calc(calc(10rem/16)*2);

}

.hero-section{
    padding-block-start: calc(1rem*1.4*5);

}

.hero-section .hero-content{
    max-width: 65ch;
    margin-bottom: calc(1rem*1.4*2.5);
}

.hero-section .hero-img{
    width: 100%;
    border-radius: 4px;
}

.trusted-by-section{
    text-align: center;
    padding-bottom: calc(1rem*1.4*1.5);
}

.trusted-by-section h2{
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .01em;
    margin-block-end: calc(1rem*1.4);
}

.trusted-by-section .company-logos-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    gap: calc(calc(10rem/16)*1);
}

.trusted-by-section .company-logos-grid li{
    padding-inline: calc(calc(10rem/16)*.75);
    background-color: var(--theme-card-bg);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
}

.trusted-by-section .company-logos-grid .company-logo{
    width: auto;
    object-fit: contain;
    height: 2.5rem;
    background-color: transparent;
} 